body, html{
    width: 100%;
    height: auto;
    background-color: rgb(240, 234, 223);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.main-part{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 73vh;
    padding: 2rem;

}

.article{
    border: 2px solid yellow;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px) contrast(1) saturate(100%);


}

.description{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    border: 2px solid black;
}
.footer .DOI{
    text-align: left;
}

.footer .author{
    text-align: right;
}

.btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
}


.btn button{
    width: 110px;
    height: 40px;
    background-color:  transparent;
    border-radius: 5px;

}


.image {
    width: 450px;
    height: 400px;
}

.my_image{
    width: 100%;
    height: 100%;
}


