body, html{
    width: 100%;
    height: auto;
    background-color: rgb(240, 234, 223);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}


.main-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 73vh;
    padding: 2rem;
    box-sizing: border-box;

}


.btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 40px;
 margin-top: 10px;

    
}


.btn button{
       width: 110px;
    height: 40px;
    background-color:  transparent;
    border-radius: 5px;


}



.text{
    text-align: justify;
    margin-bottom: 2rem;
}




.image {
    width: 450px;
    height: 400px;
    margin-bottom: 2rem;
}

.my_image{
    width: 100%;
    height: 100%;
}
